# Databases & Caches
*.sqlite
.maizar_scraper_cache.sqlite
.nasa_power_cache.sqlite
.climate_cache.sqlite

# Environments & Packages
venv/
env/
.env

# Python / Cache
**/__pycache__/
**/*.pyc
**/*.py[cod]
**/*.pyo
**/*.pyd
*$py.class
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Machine Learning Artifacts
*.joblib
data/models/
data/exports/
